doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Chat
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/style.css')
  body
    #app
      #calculator
        #result
          span(v-html="values.join('')", v-if="values.length !== 0")
          span(v-if="values.length === 0") 0
        #pad
          #clear.btn(@click='clear') C
          .btn(@click="handleKeyPress('(')") (
          .btn(@click="handleKeyPress(')')") )
          .btn(@click="handleOperation('/')") /
          .btn(@click="backspace") Del
          .btn(@click="handleKeyPress(7)") 7
          .btn(@click="handleKeyPress(8)") 8
          .btn(@click="handleKeyPress(9)") 9
          .btn(@click="handleOperation('*')") *
          .btn.not() %
          .btn(@click="handleKeyPress(4)") 4
          .btn(@click="handleKeyPress(5)") 5
          .btn(@click="handleKeyPress(6)") 6
          .btn(@click="handleOperation('-')") -
          .btn(@click="handleOperation('x2')") 
            span
              | x
              sup 2
          .btn(@click="handleKeyPress(1)") 1
          .btn(@click="handleKeyPress(2)") 2
          .btn(@click="handleKeyPress(3)") 3
          .btn(@click="handleOperation('+')") +
          .btn(@click="handleOperation('radic')") &radic;
          #zero.btn(@click="handleKeyPress(0)") 0
          .btn(@click="handleKeyPress('00')") 00
          .btn(@click="handleKeyPress('.')") .
          #equal.btn(@click="calc") =
      .history
        ul#history(v-if="history.length != 0")
          li(v-for="(item, i) in history", :key="i", v-html="item")
        .clear-btn(@click="clearHistory", v-if="history.length != 0") Clear History

    script(src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js')
    script(src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1")
    script(src='/js/main.js')